<div class="miniwyg-panel miniwyg-panel-image">
  <span class="fa fa-align-left"></span>
  <span class="fa fa-align-center"></span>
  <span class="fa fa-align-right"></span>
  <span class="fa fa-eraser"></span>
</div>
