<!doctype html>
%html
  %head
    %title miniwyg demo
    %link( rel="stylesheet" href="http://fonts.googleapis.com/css?family=Exo+2:300,600,300italic,600italic&subset=latin,cyrillic" type="text/css" )
    %link( rel="stylesheet" href="miniwyg.css" )
    %link( rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" )
    %script( src="miniwyg.js" )
    :css
      body {
        padding: 50px;
      }
  %body
    %form
      %textarea( name="foo" rows="5" cols="180" role="miniwyg" data-miniwyg-style="fontawesome" data-miniwyg-focus="true" data-miniwyg-image-loader="http://127.0.0.1:8899/image-loader" )
        %p foo
        %p bar
        %img( src="http://b.vimeocdn.com/ts/235/662/23566238_640.jpg" class="video" )
        %p spam
